NEXT_BASE_PATH=/jurisprudencia

SERVER_HOST=0.0.0.0
SERVER_PORT=3000

PUBLIC_STATES="público,privado,eliminado,preparação,importação"

ES_JAVA_OPTS="-Xms16g -Xmx16g"

REDIS_HOST=127.0.0.1
REDIS_PORT=6379