@import "theme-colors.css";
@import "resources/bootstrap-icons.css";
@import "resources/noto-sans.css";
@import "resources/bootstrap.min.css";
@import "resources/cinzel.css";


body {
    font: 13px/1.5 'Noto Sans Serif', sans-serif;
    color: var(--primary-black);
    background: white;
}

a {
    color: var(--primary-blue);
    text-decoration: none;
}

.fancy-font {
    font-family: 'Cinzel', serif;
}

mark {
    background-color: var(--secondary-gold);
}

header {
    background-color: var(--secondary-gold);
    color: var(--primary-red)
}

header .nav-link {
    color: var(--primary-red);
    transition: 0.2s;
    font-weight: bold;
}

header .nav-link.active,
header .nav-link.active:hover {
    color: var(--primary-gold);
}

header .nav-link:hover {
    color: var(--primary-gold);
}

footer {
    background: var(--primary-gold);
}

form label {
    font-size: 0.75rem;
}

@media print {
    header {
        background: none;
    }

    header a {
        color: #000 !important;
        text-decoration: none !important;
    }

    * {
        -webkit-transition: none !important;
        transition: none !important;
    }

    .container .row {
        display: block;
        width: 100%;
    }
}